.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

body {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  height: 100vh;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
}

/* 
  agregar condicional para que cuando supere los 100 vh use estos estilos
body {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
} */